LEMMA_API_KEY=
LEMMA_PROJECT_ID=

OPENAI_COMPATIBLE_API_KEY=
OPENAI_COMPATIBLE_URL=
OPENAI_COMPATIBLE_MODEL=

GITHUB_REPOSITORY=benschiller/floperati

SLACK_BRIDGE_URL=http://127.0.0.1:3001
SLACK_CHANNEL_ID=
SLACK_BRIDGE_TOKEN=
